<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmm"/>
    <appender name="FileLogger" class="ch.qos.logback.core.FileAppender" target="System.err">
        <file>app-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleLogger" class="ch.qos.logback.core.ConsoleAppender" target="System.err">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="ConsoleLogger" />
        <appender-ref ref="FileLogger" />
    </root>
</configuration>